// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumb {
  max-width: 100px;
  max-height: 100px;
}

.image-container {
  border: 1px solid black;
  width: 120px;
  padding: 10px;
  margin: 10px;
  float: left;
}

.clear {
  clear: left;
}